<footer>
    <div class="layout-footer">
        <ul class="list-inline">
            <li><a href="http://wameis.org" target="_blank">WAME IS</a></li>
            <li><a href="#">{_'Help'}</a></li>
            <li><a href="#">{_'Privacy & Terms'}</a></li>
        </ul>
    </div>
</footer>