<footer>
    <div class="layout-footer">
        <div class="logo">CMS WAME Admin 4.0.0</div>

        <ul class="list-inline">
            <li><a href="#">{_'Help'}</a></li>
            <li><a href="#">{_'Privacy & Terms'}</a></li>
        </ul>
    </div>
</footer>