services:
    PermissionObject:
        setup:
            - addResource('admin')
            - addResourceAction('admin', 'view')
            - allow('moderator', 'admin', 'view')
            - addResourceAction('admin', 'add')
            - allow('moderator', 'admin', 'add')
            - addResourceAction('admin', 'edit')
            - allow('moderator', 'admin', 'edit')
            - addResourceAction('admin', 'delete')
            - allow('admin', 'admin', 'delete')

            - addResource('dashboard')
            - addResourceAction('dashboard', 'view')
            - allow('moderator', 'dashboard', 'view')

    - Wame\AdminModule\Vendor\Wame\MenuModule\ItemTemplate

# Webloader SASS filter
    scssFilter: WebLoader\Filter\ScssFilter

webloader:
    css:
        admin:
            remoteFiles:
                - 'https://fonts.googleapis.com/icon?family=Material+Icons'
                - https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css

            files:
                - %appDir%/../private/components/flexboxgrid/css/flexboxgrid.min.css
                - %appDir%/../private/components/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css
                - %wwwDir%/css/admin.css

            fileFilters:
                - @scssFilter

    js:
        admin:
            remoteFiles:
                - https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js
                - https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js
                - https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js
                - https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js

            files:
                - %appDir%/../private/javascripts/nette.ajax.js
                - %appDir%/../private/javascripts/live-form-validation.js
                - %appDir%/../private/javascripts/admin/wameInit.js
                - %appDir%/../private/javascripts/wame-add-param-to-url/add-param-to-url.js
                - %appDir%/../private/javascripts/wame-materialize-modal/materialize-modal.js
                - %appDir%/../private/components/flexboxgrid/js/modernizr.flexbox.js
                - %appDir%/../private/components/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js
                - %appDir%/../private/javascripts/admin/main.js
#                - %appDir%/../private/javascripts/admin/initialisation.js
                - %appDir%/../private/javascripts/init.js
