services:
	PermissionObject:
		setup:
			- addResource('admin')
			- addResourceAction('admin', 'view')
			- allow('moderator', 'admin', 'view')
			- addResourceAction('admin', 'add')
			- allow('moderator', 'admin', 'add')
			- addResourceAction('admin', 'edit')
			- allow('moderator', 'admin', 'edit')
			- addResourceAction('admin', 'delete')
			- allow('admin', 'admin', 'delete')

			- addResource('dashboard')
			- addResourceAction('dashboard', 'view')
			- allow('moderator', 'dashboard', 'view')


webloader:
    css:
        admin:
            remoteFiles:
                - https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css
                - https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css
            files:
                - %appDir%/../private/stylesheets/admin/layout.less
            filters:
                - @jwlCssMinFilter
            fileFilters:
                - @lessFilter
                - @wlCssFilter
            watchFiles:
                - {files: ["*.css", "*.less"], from: css}
                - {files: ["*.css", "*.less"], in: css}

    js:
        admin:
            remoteFiles:
                - https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js
                - https://nette.github.io/resources/js/netteForms.min.js
            files:
                - %appDir%/../private/javascripts/nette-ajax/nette.ajax.js
                - %appDir%/../private/javascripts/nette-live-form-validation/live-form-validation.js
                - %appDir%/../private/javascripts/admin/main.js
 