webloader:
    css:
        admin:
            remoteFiles:
                - https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css
                - https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css
            files:
                - %appDir%/../private/stylesheets/admin/layout.less
            filters:
                - @jwlCssMinFilter
            fileFilters:
                - @lessFilter
                - @wlCssFilter
            watchFiles:
                - {files: ["*.css", "*.less"], from: css}
                - {files: ["*.css", "*.less"], in: css}

    js:
        admin:
            remoteFiles:
                - https://code.jquery.com/jquery-1.12.0.min.js
                - https://nette.github.io/resources/js/netteForms.min.js
                - https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js
            files:
                - %appDir%/../private/javascripts/admin/main.js


services:
	AdminMenu:
		class: App\AdminModule\Components\AdminMenu\AdminMenuControl